In [ ]:
# File handeling

# file = open('<file _ name>,'mode')
# file.close()

# with open('<file_name>','mode')as file.

# modes

# x -> create
# r ->read
# a ->append
# w -> write

In [1]:
file = open('data.txt','x')
file.close()

In [2]:
# pwd

In [5]:
file = open('data.txt','r')
data = file.read()
file.close()
print(data)

1 hello world
2 hello world
3 hello world
4 hello world
5 hello world
6 hello world

In [7]:
lines

NameError: name 'lines' is not defined

In [4]:
lines = data.split("\n")
lines

NameError: name 'data' is not defined

In [3]:
lines = data.split("\n")
lines

NameError: name 'data' is not defined

In [6]:
lines=

SyntaxError: invalid syntax (532530873.py, line 1)

In [8]:
n = int(input("Enter n = "))
lines = data.split("\n")
lines[n-1]

Enter n =  3

'3 hello world'

In [10]:
# write mode
file = open('newdata.txt','w')
file.write('Hello World i am python')
file.close()

In [11]:
pwd

'C:\\Users\\Babu Ram'

In [13]:
bill = ""
n = int(input("Enter n = "))
for i in range(n):
    product = (input("Enter product name = "))
    price = int(input("Enter price = "))
    qty = float(input("Enter qty = "))
    total = price * qty
    x = f"{product}\t{price}\t{qty}\t{total}\n"
    bill = bill + x
print (bill)

file = open('bill.txt','w')
file.write(bill)
file.close()

Enter n =  2
Enter product name =  Apple
Enter price =  200
Enter qty =  2
Enter product name =  Banana
Enter price =  100
Enter qty =  3

Apple	200	2.0	400.0
Banana	100	3.0	300.0

In [3]:
file = open('bill.txt','r')
data = file.read()
file.close()
data

'Apple\t200\t2.0\t400.0\nBanana\t100\t3.0\t300.0\n'

In [2]:
data_list = data.split("\n")
data_list
for i in data_list:
    print(i.split("\t"))

['Apple\t200\t2.0\t400.0', 'Banana\t100\t3.0\t300.0', '']

In [4]:
bill = ""
n = int(input("Enter n = "))
for i in range(n):
    product = (input("Enter product name = "))
    price = int(input("Enter price = "))
    qty = float(input("Enter qty = "))
    total = price * qty
    x = f"{product}\t{price}\t{qty}\t{total}\n"
    bill = bill + x
print (bill)

file = open('bill.csv','w')
file.write('Product,Price,Qty,Total\n')
file.write(bill)
file.close()

Enter n =  2
Enter product name =  Apple
Enter price =  200
Enter qty =  3
Enter product name =  Banana
Enter price =  100
Enter qty =  2

Apple	200	3.0	600.0
Banana	100	2.0	200.0