In [4]:
!pip install mysql-connector

Requirement already satisfied: mysql-connector in c:\users\babu ram\anaconda\lib\site-packages (2.2.9)

In [3]:
import mysql.connector  		#importing database

database = mysql.connector.connect(
  host="localhost",
  user="root",
  password="",
  database = "python_class"
)
db = database.cursor()

In [6]:
#read all data from database
db.execute("SELECT * FROM student")
result =db.fetchall()

for x in result:
  print(x)

(1, 'Ram', 89, 99, 89, 87, 78, 470, 90.0, 'A')
(2, 'Shyam', 89, 76, 89, 80, 87, 470, 85.0, 'A')
(3, 'Hari', 79, 96, 99, 70, 77, 475, 86.0, 'A')
(4, 'Sita', 78, 93, 92, 76, 78, 470, 85.0, 'A')
(5, 'Nabin', 78, 70, 60, 80, 78, 400, 73.0, 'B')

In [7]:
#read selected column's data from database
db.execute("SELECT sn,name,per,grade FROM student")
result =db.fetchall()

for x in result:
  print(x)

(1, 'Ram', 90.0, 'A')
(2, 'Shyam', 85.0, 'A')
(3, 'Hari', 86.0, 'A')
(4, 'Sita', 85.0, 'A')
(5, 'Nabin', 73.0, 'B')

In [4]:
#read filtered column's data from database
db.execute("SELECT * FROM student WHERE grade = 'B'")
result =db.fetchall()

for x in result:
  print(x)

(5, 'Nabin', 78, 70, 60, 80, 78, 400, 73.0, 'B')
(6, 'Akash', 78, 90, 87, 67, 70, 400, 74.0, 'B')

In [5]:
#read filtered column's data from database
db.execute("SELECT * FROM student WHERE grade = 'A' AND per > 90.0;")
result =db.fetchall()

for x in result:
  print(x)

In [8]:
# write on table
sql = """INSERT INTO student (name, physics, chemistry, math, english, nepali, total, per, grade) VALUES ('Akash', 78, 90, 87, 67, 70, 400, 74, 'B');"""
db.execute(sql)
database.commit()

In [13]:
name = input("Enter name = ")
physics = int(input("Enter physics mark = "))
chemistry = int(input("Enter chemistry mark = "))
math = int(input("Enter math mark = "))
english = int(input("Enter english mark = "))
nepali = int(input("Enter nepali mark = "))

total = physics+chemistry + math + english + nepali
per = total/5

if per >=80:
    grade = 'A'
elif per >=60:
    grade = 'B'
elif per >=50:
    grade = 'C'
else:
    grade = 'F'

sql = f"""INSERT INTO student (name, physics, chemistry, math, english, nepali, total, per, grade) 
VALUES ('{name}', {physics}, {chemistry}, {math}, {english}, {nepali}, {total}, {per}, '{grade}');"""
db.execute(sql)
database.commit()

Enter name =  Ram
Enter physics mark =  80
Enter chemistry mark =  90
Enter math mark =  50
Enter english mark =  78
Enter nepali mark =  98

In [15]:
sn = int(input("Enter sn = "))
name = input("Enter name = ")
sql = f"""UPDATE student SET name = '{name}'WHERE sn = {sn}; """

db.execute(sql)
database.commit()

Enter sn =  2
Enter name =  kazi

In [ ]:
# !pip install pandasql

In [19]:
#delete in sql
sn = int(input("Enter sn = "))
sql = f"""DELETE FROM student WHERE sn = {sn}; """

db.execute(sql)
database.commit()

Enter sn =  4