In [1]:
# tuple
# -indexing
# -ordered
# -multiple and duplicate
# -imutable

In [2]:
t = (1,2,3,4,5,6,7,8,9)
print(type(t))

<class 'tuple'>

In [3]:
t = ("Apple","Ball")
print(type(t))

<class 'tuple'>

In [4]:
t = ("Apple","Ball","Cat","Dog")
print(t[1])

Ball

In [5]:
t = ("Apple","Ball","Cat","Dog")
print(t[0:2])

('Apple', 'Ball')

In [6]:
# no append() insert() extend()
# no update
# no del remove() pop()
# no sort()
# no reverse()

In [7]:
t = tuple()
n = int(input("Enter n = "))
for i in range(n):
    x = int(input("Enter x = "))
    t = t+(x,)
print(t)

Enter n =  5
Enter x =  1234
Enter x =  354
Enter x =  654
Enter x =  675
Enter x =  234

(1234, 354, 654, 675, 234)

In [8]:
print(max(t))
print(min(t))
print(sum(t))

1234
234
3151

In [9]:
a = 10,15,20,30,40,50
print(a)

(10, 15, 20, 30, 40, 50)

In [12]:
# tuple to list
t = ("Apple","Ball","Cat","Dog","Apple")
l = list(t)
print(l)

['Apple', 'Ball', 'Cat', 'Dog', 'Apple']

In [13]:
# tuple to list
t = ("Apple","Ball","Cat","Dog","Aple")
l = list(t)
del l[0]
print(l)

['Ball', 'Cat', 'Dog', 'Aple']

In [15]:
# tuple to list
t = ("Apple","Ball","Cat","Dog","Aple")
l = list(t)
del l[0]

t = tuple(l)
print(l)

['Ball', 'Cat', 'Dog', 'Aple']

In [17]:
# tuple inside tuple
a = ((1,2,3),
     (4,5,6),
     (7,8,9))
print(a)

((1, 2, 3), (4, 5, 6), (7, 8, 9))