In [ ]:
# for loop
# while loop

In [ ]:
# for looprange
#range (5)     #0,1,2,3,4
#range(1,5)    #1,2,3,4
range(1,10,2)  #1,,3,5,7,9

In [1]:
for i in range(5):
    print(i,"Hello world")

0 Hello world
1 Hello world
2 Hello world
3 Hello world
4 Hello world

In [2]:
for i in range(1,5):
    print(i,"Hello world")

1 Hello world
2 Hello world
3 Hello world
4 Hello world

In [3]:
for i in range(1,10,2):
    print(i,"Hello world")

1 Hello world
3 Hello world
5 Hello world
7 Hello world
9 Hello world

In [4]:
for i in range(5,-1,-1):
    print(i,"Hello world")

5 Hello world
4 Hello world
3 Hello world
2 Hello world
1 Hello world
0 Hello world

In [5]:
# WAP to create a multiplication table
n = int(input("Enter n = "))
for i in range (1,11):
    print(n*i)

Enter n =  5

5
10
15
20
25
30
35
40
45
50

In [7]:
n = int(input("Enter n = "))
for i in range (1,11):
    print(n,"*",i,"=",n*i)

Enter n =  5

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [8]:
s = 0
n = int(input("Enter n = "))
for i in range (n):
    x = int(input("Enter x = "))
    s = s + x
    print(s)

Enter n =  5
Enter x =  324

324

Enter x =  456

780

Enter x =  354

1134

Enter x =  567

1701

Enter x =  435

2136

In [1]:
s = 0
n = int(input("Enter n = "))
for i in range (n):
    x = int(input("Enter x = "))
    s = s + x*1.1
    print(s)

Enter n =  5
Enter x =  1000

1100.0

Enter x =  2000

3300.0

Enter x =  5000

8800.0

Enter x =  3000

12100.0

Enter x =  5000

17600.0

In [1]:
s = ""
n = int(input("Enter n = "))
for i in range (n):
    name = input(input("Enter name = "))
    s = s + name +"\n"
    print(s)

Enter n =  ram

ValueError: invalid literal for int() with base 10: 'ram'